#buscar
{
    margin: 7px;
    margin-left: 25px;
    width: 40%;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    color:white;
    border:none;
    border-radius: 10px;
    cursor:pointer;
}

.txt-buscar
{
    width: 75px;
    font-size: 15px;
    text-align: left;
    padding: 5px;

    
}
.parent
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 15px 2em;
    flex-direction: row;
    background-color: rgb(80, 185, 255, 0.50);
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    width: 70%;
    padding: 25px;
    border-radius: 25px;
    margin: auto;  
}

label
{
    border: 2px solid rgb(0,0,0);
    margin-left: 50px;
    margin-top: 100px;
    width: 150px;
    height: 150px;
    border: none;
    margin: 15px;
    
}


#txthoja
{
    display: grid;
    padding: 6px;
    border: 5px;
    border-color: black;
    margin: auto;
    resize: none;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    resize: none;
    outline: none;
    font-size: 12px;
    gap: 5px 2em;
    border-radius: 10px;
}

#lbinfo
{
    margin-top: 2%;
    margin: 2%;
    text-decoration:solid;
    margin-bottom: 5px;
}