button
{
    margin: 5px;
    width: 5%;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color:white;
    background: rgb(139, 139, 141);
    border:none;
    border-radius: 10px;
   
    cursor:pointer;
}
/*label
{
    font-family: Arial, Helvetica, sans-serif;
    
}*/
.content
{
    position: relative;
    flex-direction: column;
    top: 25px;
    bottom: unset;
    left: 10px;
    background-color: rgb(80, 185, 255, 0.50);
    box-sizing: content-box;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 25px;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    
}
.content::before::after
{
    box-sizing: content-box;
}

.card 
{
   max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    height: 300px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }
  


#txthoja
{
    border: 6px;
    border-color: black;
    margin: auto;
    padding: 4px;
    resize: none;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    resize: none;
    outline: none;
    font-size: 12px;
    justify-content: center;

    
}
#lbinfo
{
    margin-top: 2%;
    margin: 2%;
   
    text-decoration:solid;


}
