button
{
    margin: 5px;
    width: 5%;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color:white;
    background: rgb(139, 139, 141);
    border:none;
    border-radius: 10px;
   
    cursor:pointer;
}
/*label
{
    font-family: Arial, Helvetica, sans-serif;
    
}*/
.grid
{
    margin: auto;
    width: auto;
    background-color: aquamarine;
    
}

#txthoja
{
    border: 6px;
    border-color: black;
    margin: auto;
    padding: 4px;
    resize: none;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    resize: none;
    outline: none;
    font-size: 12px;
    justify-content: center;

    
}
#lbinfo
{
    margin-top: 2%;
    margin: 2%;
   
    text-decoration:solid;


}
