*{
    margin: 0;
    padding: 0;
}

/* html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/
body
{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

#navibar
{
    align-items: center;
    
}
#mss
{
    font-size: 12px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    resize: none;
    outline: none;
    margin: auto;
}

.card
{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    
}
nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #303841;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    padding-block: 15px;
}
nav .logo
{
    font-weight: 800;
}
nav ul
{
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav a
{
    text-decoration: none;
    color: white;
}
nav #toggle, nav label
{
    display: none;
}

@media(max-width: 40.625em)
{
    nav .card
    {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    nav ul
    {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }
    nav label
    {
        display: inline-flex;
        color: white;
        cursor: pointer;
    }
    nav #toggle:checked ~.menu
    {
        height: 100%;
    }
}

button
{
    margin: auto;
    width: 20%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: rgb(0, 47, 255);
    border:none;
    border-radius: 15px;
    cursor:pointer;
}
.btn-add
{
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:9px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #154682;
}
.btn-add:hover 
{
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.btn-add:active 
{
	position:relative;
	top:1px;
}

body
{
    background-color: #8BC6EC;
    background-image: linear-gradient(1deg, #8BC6EC 0%, #9599E2 100%);

}

footer
{
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    text-decoration: none;
    color: rgb(41, 27, 27);

}

.llamado
{
    background: #282f40;
    display: flex;
}

