*{
    margin: 0;
    padding: 0;
}

/* html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/
body
{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.grid
{
    display: grid;
}
#navibar
{
    align-items: center;
    
}
#mss
{
    font-size: 12px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    resize: none;
    outline: none;
    margin: auto;
}
header
{
    background-color: rgb(143, 143, 143);
    
   
}

label
{
    border: 2px solid rgb(0,0,0);
    width: 150px;
    height: 150px;
    border: none;
    margin: 15px;
    cursor: pointer;
}
#sidebar
{
    position: fixed;
    width: 150px;
    height: 100%;
    background: rgb(0, 0, 0);
}
#sidebar ul li
{
    color: rgba(230, 230, 230, .9);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}
button
{
    margin: auto;
    width: 20%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: rgb(0, 47, 255);
    border:none;
    border-radius: 15px;
    cursor:pointer;
}

